/* ========== Global Style ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

:root {
  --main-color: #18bc9c;
  --main-color-hover: #128f76;
}
/* ========== Header ========== */
header nav {
  text-align: right;
  padding: 1rem;
}

header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  transition: 0.3s;
}
header ul li a.active {
  color: var(--main-color);
}
header ul li a:hover {
  color: var(--main-color);
}

/* ========== Home section ========== */
#home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home figure img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#home .about span {
  color: var(--main-color);
  font-weight: bold;
}
#home .about p {
  margin: 10px 20px;
}

#home .about a {
  background-color: var(--main-color);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 1rem;
}

/* ========== Posts section ========== */
#posts {
  background-color: #edf7fa;
  padding: 2rem 4rem;
  text-align: center;
}
#posts .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#posts .header a {
  color: var(--main-color);
  text-decoration: none;
}

#posts span {
  color: var(--main-color);
}

#posts .posts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#posts .post {
  background-color: white;
  padding: 1rem;
}
#posts .post h5 {
  margin: 10px;
}

/* ========== Featured works section ========== */

#featured {
  padding: 2rem 4rem;
}
#featured .features-container .feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.5rem;
}
.feature h5 {
  color: #333;
  margin: 10px 0 20px;
}
.feature span {
  background-color: var(--main-color);
  color: white;
  padding: 3px 7px;
  border-radius: 12px;
}

/* ========== Contact me ========== */
.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  font-size: 1rem;
}
.contact-form input:focus {
  border: 2px solid var(--main-color-hover);
  outline: none;
}

.contact-form button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  background: var(--main-color);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: var(--main-color-hover);
}

.contact-form input[type="reset"] {
  background-color: #e74c3c;
  padding: 0.75rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form input[type="reset"]:hover {
  background-color: #c0392b;
}
